@model school_management.Models.SchoolSubject

@{
    ViewData["Title"] = "Edit";
}
<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Edit subject details</h1>
        <div>
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3 form-group">
                    <label asp-for="Name" for="Name" class="form-label">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="Name" name="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label asp-for="SubjectContent" for="LastName" class="form-label">Subject content</label>
                    <input asp-for="SubjectContent" type="text" class="form-control" id="SubjectContent" name="SubjectContent">
                    <span asp-validation-for="SubjectContent" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label for="TeacherId" class="control-label">Teacher</label>
                    <select name="TeacherId" id="TeacherId" class="form-select">
                        @foreach(var teacher in  ViewBag.Teachers){
                            @if (teacher.Id.Equals(@Model.Teacher.Id))
                            {
                             <option selected value="@teacher.Id">@teacher.GetFullName()</option>
                            }
                            else
                            {
                             <option  value="@teacher.Id">@teacher.GetFullName()</option>
                            }
                           
                        }
                    </select>
                </div>
                <div class="col-12 flex-row justify-content-end d-flex mt-3 form-group">
                    <div class="me-2">
                        <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                    </div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
