@model school_management.Models.Student

@{
    ViewData["Title"] = "Edit";
}
<div class="card row col-6 offset-3">
    <div class="card-body px-5 py-5">
        <h1 class="text-center mb-5">Edit student details</h1>
        <div>
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div class="mb-3 form-group">
                    <label asp-for="FirstName" for="FirstName" class="form-label">First name</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="Name" name="FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label asp-for="LastName" for="LastName" class="form-label">Last name</label>
                    <input asp-for="LastName" type="text" class="form-control" id="LastName" name="LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label asp-for="BirthDate" for="BirthDate" class="form-label">Birth date</label>
                    <input asp-for="BirthDate" type="date" class="form-control" id="BirthDate" name="BirthDate">
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="mb-3 form-group">
                    <label for="ParentId" class="control-label">Parent</label>
                    <select name="ParentId" id="ParentId" class="form-select">
                        @foreach(var parent in  ViewBag.Parents){
                            @if (parent.Id.Equals(@Model.Parent.Id))
                            {
                             <option selected value="@parent.Id">@parent.FullName</option>
                            }
                            else
                            {
                             <option  value="@parent.Id">@parent.FullName</option>
                            }
                           
                        }
                    </select>
                </div>
                <div class="mb-3 form-group">
                    <label for="ClassId" class="control-label">Class</label>
                    <select name="ClassId" id="ClassId" class="form-select">
                        @foreach(var clazz in  ViewBag.Classes){
                            @if (@Model.@class != null && clazz.Id.Equals(@Model.@class.Id))
                            {
                             <option selected value="@clazz.Id">@clazz.Name</option>
                            }
                            else
                            {
                             <option  value="@clazz.Id">@clazz.Name</option>
                            }
                           
                        }
                    </select>
                </div>
                <div class="col-12 flex-row justify-content-end d-flex mt-3 form-group">
                    <div class="me-2">
                        <a asp-action="Index" type="button" class="btn btn-secondary">Back</a>
                    </div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
