@model IEnumerable<school_management.ViewModels.ClassViewModel>

@{
    ViewData["Title"] = "Index";
}
<div class="main-card-bg main-table-container">

    <div class="d-flex justify-content-between align-items-center my-3 mx-3">
        <h4>
            Classes
        </h4>
        <div>
            <a id="createBtn" asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Class name</th>
                <th scope="col">Supervising teacher</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var clazz in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@clazz.Name</td>
                    <td>@clazz.ClassTeacherFullName</td>
                    <td>

                        <a asp-action="Details" class="action-icon" asp-route-id="@clazz.Id">
                            <i class="fas fa-eye mx-1"></i>
                        </a>
                        <a asp-action="Edit" class="action-icon" asp-route-id="@clazz.Id">
                            <i class="fas fa-edit mx-1"></i>
                        </a>
                        <a asp-action="Delete" class="action-icon__danger" asp-route-id="@clazz.Id">
                            <i class="fas fa-trash-alt mx-1"></i>
                        </a>
                    </td>
                </tr>
                i++;
            }

        </tbody>
    </table>
        <script>
            const user = localStorage.getItem('user');
            if (user && user.length > 0) {
                const parsedUser = JSON.parse(user)
                if (parsedUser && parsedUser.email.length > 0){
                    if(parsedUser.role !== 'admin'){
                        const editIcons = document.getElementsByClassName('fa-edit')
                        const deleteIcons = document.getElementsByClassName('fa-trash-alt')
                        const createBtn = document.getElementById('createBtn')
                        createBtn.style.display = 'none'
                        for (let i = 0; i < editIcons.length; i++) {
                            editIcons[i].style.display = 'none';
                        }
                        for (let i = 0; i < deleteIcons.length; i++) {
                            deleteIcons[i].style.display = 'none';
                        }
                    }
                }
                else window.location = 'http://localhost:5090/'
            }


    </script>
</div>